.message {
    display: inline-block;
}

.post {
    margin-bottom: 2px;
    border: solid 1px green;
}

.ava {
    display: inline-block;
}

.ava img {
    height: 60px;
    width: 60px;
    border-radius: 30px;
}

.divLike {
    display: flex;
    background-color: #adff5f;
    border-radius: 2rem;
    overflow: clip;
    width: 60px;
    height: 30px;
}

.divLike img {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

